source https://api.nuget.org/v3/index.json
storage none
strategy min
lowest_matching true

nuget Aspire.Hosting >= 9.0
nuget Aspire.Hosting.AppHost >= 9.0
nuget Aspire.Hosting.AWS >= 9.0
nuget Aspire.Hosting.Azure
nuget Aspire.Hosting.Orleans
nuget Aspire.Hosting.SqlServer
nuget CommunityToolkit.Aspire.Hosting.Azure.StaticWebApps
nuget FSharp.Core >= 9.0
nuget Microsoft.Extensions.ServiceDiscovery >= 9.0
nuget Microsoft.SourceLink.GitHub 8.0.0 copy_local: true
nuget System.Text.Json >= 9.0.2
nuget Microsoft.IdentityModel.Abstractions >= 8.6
