source https://api.nuget.org/v3/index.json
storage none
strategy min
lowest_matching true

nuget Aspire.Hosting >= 13.0
nuget Aspire.Hosting.AppHost >= 13.0
nuget Aspire.Hosting.AWS >= 13.0
nuget Aspire.Hosting.Azure >= 13.0
nuget Aspire.Hosting.Orleans >= 13.0
nuget Aspire.Hosting.SqlServer >= 13.0
nuget FSharp.Core >= 8.0
nuget Microsoft.Extensions.ServiceDiscovery >= 10.0
nuget Microsoft.SourceLink.GitHub 10.0.301 copy_local: true
nuget System.Text.Json >= 10.0.3
nuget Microsoft.IdentityModel.Abstractions >= 8.6
